@font-face {
	font-family: 'weld-light';
	src: url('../fonts/weld-light.eot');
	src: url('../fonts/weld-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/weld-light.woff2') format('woff2'),
		 url('../fonts/weld-light.woff') format('woff'),
		 url('../fonts/weld-light.ttf') format('truetype'),
		 url('../fonts/weld-light.svg#weld-light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'weld-regular';
	src: url('../fonts/weld-regular.eot');
	src: url('../fonts/weld-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/weld-regular.woff2') format('woff2'),
		 url('../fonts/weld-regular.woff') format('woff'),
		 url('../fonts/weld-regular.ttf') format('truetype'),
		 url('../fonts/weld-regular.svg#weld-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'weld-bold';
	src: url('../fonts/weld-bold.eot');
	src: url('../fonts/weld-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/weld-bold.woff') format('woff'),
		 url('../fonts/weld-bold.ttf') format('truetype'),
		 url('../fonts/weld-bold.svg#weld-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'blockweld';
	src: url('../fonts/blockweld-regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-std-bold-oblique';
	src: url('../fonts/Futura-Std-Bold-Oblique.otf');
}

body {
	background-image: url('../img/festivalminne_without_header.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
  font-family: "weld-regular", sans-serif;
  font-weight: bold;
	padding-bottom: 100px;
}

#heading-top {
	margin-top: 80px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#heading-bottom {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#heading-part1,
#heading-part2 {
	font-family: 'futura-std-bold-oblique', sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 120px;
	font-style: oblique;
	text-shadow: none;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

#heading-part1 {
	margin-left: 0 !important;
	text-align: right;
	padding-left: 0;
}

#heading-part2 {
	margin-left: 0 !important;
	text-align: left;
	padding-right: 0;
}

#heading-part1 {
	background: linear-gradient(to right, rgba(102, 51, 153,0.3), rgba(102, 51, 153,0.5), rgba(102, 51, 153,0.7));
}

#heading-part2 {
	background: linear-gradient(to left, rgba(102, 51, 153,0.3), rgba(102, 51, 153,0.5), rgba(102, 51, 153,0.7));
}

a {
  text-decoration: none !important;
}

.personal-number-input {
	max-width: 320px;
  padding: 90px 5px 0;
	margin: 0 auto;
}

.label-div {
	display:table;
	width: 100%; height: 50px !important;
  font-size: 1em;
  font-style: italic;
  color: #fff;
  border: 1px solid none;
  border-radius: 5px 5px 0px 0px;
}

.label-span {
	font-family: 'futura-std-bold-oblique', sans-serif;
	display:table-cell;
 	vertical-align:middle;
  padding-left: 20px;
  font-size: 1.5em !important;
}

input {
  color: #4e5050 !important;
  font-size: 1.5em !important;
  border: 1px solid #fff !important;
  border-radius: 0px 0px 5px 5px !important;
  background-color: #fff !important;
  height: 50px !important;
	padding-left: 20px !important;
}

select {
	border-radius: 0 0 5px 5px !important;
	color: #4e5050 !important;
	font-size: 1.4em !important;
	height: 50px !important;
	padding-left: 20px !important;
	cursor: pointer;
}

input::-webkit-input-placeholder {
color: #8f9190 !important;
}


#image-div {
	background-image:url('');
	background-size:cover;
	background-position: center;
	height: 250px; width: 100%;
	border: 1px solid none;
	border-radius: 5px;
}

.fileContainer {
    position: relative;
}

.fileContainer [type=file] {
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer {
    background: white;
    border-radius: 0 0 5px 5px;;
    float: left;
		height: 50px;
		width: 100%;
		color: #4e5050 !important;
		font-family: "weld-regular", sans-serif;
		font-size: 1.4em !important;
		padding: 0.5em;
		padding-left: 20px !important;
		margin-bottom: 15px;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.domain-search,
.accept-terms {
	margin-top: 20px;
	width: 100%;
	border: 3px solid white;
	border-radius: 5px;
	padding-top: 25px;
}

.domain-se,
.domain-nu {
	height: 58px !important;
	color: white;
	display: table;
	width: 100%;
}

.domain-se span,
.domain-nu span {
	font-size: 1.7em !important;
	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 1px 1px 6px rgba(0,0,0,0.6), 0px 0px 8px  rgba(0,0,0,1);
}

.accept-terms {
	background-color: white;
	margin-bottom: 15px;
	padding: 10px !important;
	color: rgb(129, 127, 128);
}

input[type="checkbox"] {
	transform:scale(1.8, 1.8);
	padding: 0 10px !important;
	margin-left: -30px !important;
}

.input.checkbox.form-control {
	height: 40px !important;
}

.checkbox label {
	font-size: 18px !important;
	font-weight: bold !important;
	padding-left: 40px;
}

.checkbox a {
  font-weight: bold !important;
	font-size: 18px;
}

#seButton,
#nuButton {
	font-family: "weld-regular", sans-serif;
	font-size: 20px !important;
	font-weight: bold;
	border: 2px solid #6ec8dc !important;
	border-radius: 5px !important;
	height: 36px !important;
	padding: 2px 15px;
	margin-right: 10px;
	background-color: white !important;
	display: block;
	width: 60%;
	margin: 10px auto;
}

#create-page-button {
	font-family: "weld-regular", sans-serif;
	font-size: 28px !important;
	border: 1px solid #47e2a1 !important;
	border-radius: 5px !important;
	width: 100% !important; height: 60px !important;
	background-color: #47e2a1 !important;
	margin-top: 0 !important;
}

/*********************************
FINAL PAGE
**********************************/
.header {
	margin-top: 60px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 60px !important;
}

.final-preview {
	text-align: center;
	font-family: 'futura-std-bold-oblique', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 6px rgba(0,0,0,0.6), 0px 0px 8px  rgba(0,0,0,1);
}

#final-header {
	font-weight: bold;
	font-size: 65px;
	font-style: oblique;
	margin-bottom: 0px !important;
	margin-top: 0 !important;
}

#website-preview {
	margin-bottom: 60px !important;
}

#website-preview img {
	width: 400px !important;
	height: 400px !important;
}

#message {
	font-size: 24px;
	max-width: 760px;
	margin: 0 auto 60px !important;
}

#message a{
	color: #000;
	text-shadow: 1px 1px 6px rgba(255,255,255,0.6), 0px 0px 8px  rgba(255,255,255,1);
}

#message a:hover{
	color: #fff;
	text-shadow: 1px 1px 6px rgba(0,0,0,0.6), 0px 0px 8px  rgba(0,0,0,1);
}

#share-links {
	font-size: 24px;
}

.social {
	width: 130px;
	padding: 0 !important;
	margin: 20px 5px 0;
	background-color: #00d2ef !important;
	border: 1px solid #00d2ef !important;
}

.social:hover {
	opacity: 0.5;
}

.social img {
	width: 45px;
}

@media screen and (min-width: 1370px) {

	#heading-part1,
	#heading-part2 {
		font-size: 120px;
		/*text-shadow: 1px 1px 6px rgba(0,0,0,0.6);*/
	}

}

@media screen and (max-width: 769px) {

	#heading-top {
		margin-top: 80px;
	}

	#heading-part1,
	#heading-part2 {
		font-size: 90px;
		/*text-shadow: 1px 1px 6px rgba(0,0,0,0.6);*/
	}

	.personal-number-input {
	  padding-top: 80px;
	}

}

@media screen and (max-width: 436px) {

	#heading-part1,
	#heading-part2 {
		font-size: 62px;
		/*text-shadow: 1px 1px 6px rgba(0,0,0,0.6)*/
	}

	#website-preview img {
		width: 310px !important;
		height: 310px !important;
	}

	#final-header {
		font-size: 45px;
	}

}

@media screen and (max-width: 359px) {

	#heading-top {
		margin-top: 40px;
	}

	.personal-number-input {
	  padding-top: 60px;
	}

	#heading-part1,
	#heading-part2 {
		font-size: 52px !important;
		/*text-shadow: 1px 1px 6px rgba(0,0,0,0.6);*/
	}

	#website-preview img {
		width: 270px !important;
		height: 270px !important;
	}

}
