<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Festivalminne</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script  type="text/javascript" src="node_modules/angularjs-country-select/angular.country-select.js"></script>
    <script  type="text/javascript" src="node_modules/angular-base64-upload/src/angular-base64-upload.js"></script>
    <script  type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
    <script  type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
    <script  type="text/javascript" src="node_modules/angular-lodash/angular-lodash.js"></script>
    <script src="jquery/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/app.js"></script>
  </head>

  <body>

    <div ng-app="app" ng-controller="MainCtrl as ctrl">

      <div id="main-header" ng-show="showMainHeader">
        <div id="heading-top" class="row">
          <h1 id="heading-part1" class="col-xs-10 col-sm-8 col-md-8 col-lg-7">FESTIVAL</h1>
        </div>
        <div id="heading-bottom" class="row">
          <h1 id="heading-part2" class="col-xs-10 col-sm-8 col-md-8 col-lg-7 pull-right">MINNE</h1>
        </div>
      </div>

        <div ng-show="showMainInput" class="main-input-form">
          <div class="container">
            <div class="row row-centered">

              <div class="personal-number-input">

                <form role="form" name="inputForm" autocomplete="on" ng-submit="register();">
                  <div class="form-group">
                    <div class="label-div" style="background-color:#47e2a1;">
                      <span class="label-span">PERSONNUMMER</span>
                    </div>
                    <input type="number" class="form-control" id="personnumber" placeholder="ååååmmddXXXX" name="userPersonalNumber" ng-model="user.personalnumber" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#6ec8dc;">
                      <span class="label-span">NAMN</span>
                    </div>
                    <input type="text" class="form-control" id="user-name" placeholder="Förnamn Efternamn" name="userName" ng-model="user.name" ng-model-options="{debounce: 1000}" ng-change="autofillDomain(user.name,user.domain)" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#be59a0;">
                      <span class="label-span">EMAIL</span>
                    </div>
                    <input type="email" class="form-control" ng-change="activateCreatePageButton()" id="user-email" placeholder="example@gmail.com" name="userEmail" ng-model="user.email" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#f86060;">
                      <span class="label-span">TELEFON</span>
                    </div>
                    <input type="text" class="form-control" id="user-phone" placeholder="+46712345678" name="userPhone" ng-model="user.phone" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#47e2a1;">
                      <span class="label-span">ADRESS</span>
                    </div>
                    <input type="text" class="form-control" id="user-address" placeholder="Kungsgatan 1" name="userAddress" ng-model="user.address1" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#6ec8dc;">
                      <span class="label-span">STAD</span>
                    </div>
                    <input type="text" class="form-control" id="user-city" name="userCity" ng-model="user.city" ng-init="user.city='Stockholm'"required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#be59a0;">
                      <span class="label-span">POSTNUMMER</span>
                    </div>
                    <input type="number" class="form-control" id="user-zipcode" placeholder="12345" name="userZipcode" ng-model="user.zipcode" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#f86060;">
                      <span class="label-span">LAND</span>
                    </div>
                    <input ng-init="user.countrycode == Sweden" country-select is-eu="isEUboolean" type="text" class="form-control" id="user-countrycode" name="userCountrycode" ng-model="user.countrycode" required>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#be59a0;">
                      <span class="label-span">FOTOGRAFI</span>
                    </div>
                    <div class="image-upload">
                      <label class="fileContainer">
                        Ladda upp en bild
                        <input class="form-control" name="file" type='file' ng-model="user.picturefile" base-sixty-four-input accept="image/*" id='getimage' name="background-image" ng-change="showImageDiv();" onchange="imageURL(event);" />
                      </label></br></br>
                      <div id="image-div" ng-show="imageDiv"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="label-div" style="background-color:#6ec8dc;">
                      <span class="label-span">DOMÄNNAMN</span>
                    </div>
                    <input type="text" class="form-control" id="domain" placeholder="FörnamnEfternamn" name="userDomain" ng-model="user.domain" ng-model-options="{debounce: 1000}" ng-change="searchDomain(user.domain)" required>
                    <div class="domain-search" ng-if="user.domain" ng-show="searchDomainShow">
                      <div class="domain-se">
                        <span>{{user.domain}}</span><span class="country">.se</span><span></span><button type="button" id="seButton" ng-show="seDomainShow" ng-disabled="seButtonDisable" ng-click="buttonClicked(user.domain + '.se',$event)" class="btn btn-primary" name="button">{{freeDomainSE}}</button>
                      </div>
                      <div class="domain-nu">
                        <span>{{user.domain}}</span><span class="country">.nu</span><span></span><button type="button" id="nuButton" ng-show="nuDomainShow" ng-disabled="nuButtonDisable" ng-click="buttonClicked(user.domain + '.nu',$event)" class="btn btn-primary" name="button">{{freeDomainNU}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="accept-terms checkbox" ng-show="acceptTermsShow">
                    <label>
                      <fieldset class="form-inline">
                        <input type="checkbox" ng-model="checkboxModel.value" class="checkbox">
                        Genom att klicka "Godkänner" accepterar du följande:<br>
                          <a href={{termsUrl}} target="_blank">Avtal för toppdomänen {{termsDomain}} </a><br>
                          <a href="https://www.nameisp.com/sv/about/conditions" target="_blank">NameISP användaravtal</a><br>
                          <a href="https://www.weld.io/terms" target="_blank">Användarvillkor för Weld's tjänster</a>
                      </fieldset>
                    </label>
                  </div>
                  <button ng-show="CreatePageButton" ng-disabled="createPageButtonDisable" type="submit" id="create-page-button" class="btn btn-primary" name="button">Skapa din sida!</button>
                  <span id="errorSpan" ng-show="showErrorSpan">Beklagar! Din mejladress finns redan registrerad hos Weld.</span>
                </form>

              </div>
           </div>
         </div>
       </div>

       <div ng-show="showFinalPage" id="final-page" class="container">

         <div class="header final-preview row row-centered">
           <h1 id="final-header">Varsågod, din sida är klar:</h1>
         </div>

         <div id="website-preview" class="final-preview">
           <img id="loader-img" src="img\spinner-line-light.gif" alt="" />
           <img id="website-preview-img" src="https://d3kzdohl1nxwtg.cloudfront.net/{{websiteSnapshotUrl}}" alt="" />
         </div>

         <div id="message" class="final-preview">
           <span>
             Just nu finns den på<br><a href="https://www.weld.io/{{domain}}">weld.io/{{domain}}</a>,<br>men om 2 timmar finns den på<br><a href="http://www.{{user.domain}}">www.{{user.domain}}</a>.
           </span>
         </div>

         <div id="share-links" class="final-preview">
           <div>Dela länken:</div>
           <button class="social btn btn-primary">
             <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.weld.io/{{domain}}" target="_blank"><img id="facebook" src="img/facebook.svg" alt="" /></a>
           </button>
           <button class="social btn btn-primary">
             <a href="https://twitter.com/home?status=https://www.weld.io/{{domain}}" target="_blank"><img id="twitter" src="img/twitter.svg" alt="" /></a>
           </button>
           <button class="social btn btn-primary">
             <a href="https://plus.google.com/share?url=https://www.weld.io/{{domain}}" target="_blank"><img id="google-plus" src="img/google-plus.svg" alt="" /></a>
           </button>
           <button class="social btn btn-primary">
             <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.weld.io/{{domain}}&title=&summary=&source=" target="_blank"><img id="linkedin" src="img/linkedin.svg" alt="" /></a>
           </button>
         </div>

       </div>

    </div>
  </body>
</html>
